# Dependencias de Node y carpetas de dependencias
node_modules/
*/node_modules/

# Archivos de logs y cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# Archivos de lock
package-lock.json