<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página resultado</title>
</head>
<body>
    <h1>Resultado del Formulario</h1>
    
    <p><strong>Nombre:</strong>   <%= nombre %></p>
    <p><strong>Ciudad</strong>    <%= ciudad %></p>

    <p> <strong>
    <% if ( edad ) { %>
        Tu edad es de <%= edad %> años,
    <% if (Number(edad) >= 18) {   %>
       <p style="color: green;">Eres mayor de edad.</p> 
    <% } else { %>
      <p style="color: orange;">Eres menor de edad.</p> 
    <%  } %>
    <% } else { %>
        <p>No se ha proporcionado la edad.</p>
    <% } %>
    </p></strong>

    <h2>Intereses: </h2>
    <p>
        <% if (intereses  && intereses.length ) { %>
        
        <ul>

            <% intereses.forEach( i => {  %>

                <li> <%= i %> </li>

            <% }) %>
        </ul>

        <% }else { %>
            <p>Sin intereses</p>
        <% }  %>
        
    </p>

    <p>
       <a href="/form">Volver al formulario</a>
       <a href="/">Inicio</a>
    </p>
   
</body>
</html>